 /*.Big
{
     height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
    align-self: center;
     align-items: center;
     justify-content: center;
     text-align: center;
    background-image: url("https://i0.wp.com/demishia.com/wp-content/uploads/2018/04/admin-login-background-images-8.jpg?ssl=1");
}
form
{
    align-items: center;
    width: 300px;
    height: 300px;
}
.inner  
{
    
    position: absolute;
    padding-top: 80px;
    align-self: center;
     align-items: center;
     justify-content: center;
     text-align: center;
    margin-top: 70px;
    opacity: 0.7;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
    border-style: solid ;
    border-color: black;
    box-shadow: 10px 10px;
}

.mail
{
    padding: 15px;
    
}
.pass
{
    opacity: 1;
    padding: 15px;
    margin-bottom: 20px;
}
input
{
    border-radius: 20px;
    width: 250px;
    height: 40px;
    opacity: 1;
    font-weight: 500;
}

.btn 
{
    border-color: white;
    color:  black;
    border-radius: 20px;
}
.btn:hover
{
    color:  rgb(191, 156, 80);
}

@media screen and (max-width: 300px) {

    .inner  
    {
        
        position: absolute;
        padding-top: 80px;
        align-self: center;
         align-items: center;
         justify-content: center;
         text-align: center;
        margin-top: 70px;
        opacity: 0.7;
        border-radius: 30px;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -150px;
        border-style: none;
        border-color: none;
        box-shadow: 0 0;
    }

    .pass
    {
        width: 100%;
        height: 25px;
    }

    .input
    {
        width: 100%;
        height: 25px;
    }
    
}
*/

.outer
{
   margin: 10px;
 text-align: center;
 height: 400px;
 margin-left: 50px;
 margin-right: 50px;
}

.inner
{
    padding: 30px;
    margin: 20px;
    height: 350px;
    width: 500px ;
    display: inline-block;
    text-align: center;
}
.inner form{
    text-align: left;
}
.form-label
{
    color: grey;
}

.btn
{
    background-color: black;
    color: white;
}