/* .navbar-brand
{
  color: #6c839b;
  font-size: larger;
  font-weight: bold;
  font-size: 28px;
  text-shadow: white; 
}

.btn
{
  background-color: black;
}
.nav-item
{
    font-size: 20px;
    padding: 5px;
    margin: 2px;
}
.navbar-collapse .nav-item .nav-link{
    color: rgb(191, 156, 80);
}
.navbar-collapse .nav-item .nav-link:hover{
    color: rgb(255, 255, 255);
}
.container-fluid
{
  z-index: +1;  
} */



.nav-bar
{
  display: grid;
  grid-template-columns: 8rem 1fr 2fr 1fr 8rem;
  height: 110px;
  width: 100%;
  background-color: #1B1A17;
}

.title
{
  height: 110px;
  grid-row: 1/2;
color: #6c839b;
grid-column: 2/3;
display: grid;
justify-content: start;
align-items: center;
}

.links
{
  height: 110px;
  grid-column: 3/4;
}

.links ul
{
  list-style-type: none;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links a
{
  text-decoration: none;
  color: rgb(191, 156, 80); 
  font-size: large;
}
.links a:hover
{
color: white;
}
.cart
{
  height: 110px;
  grid-column: 4/5;
}

.cart a
{
  text-decoration: none;
}
.cart .fa-cart-arrow-down
{
  height: 110px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  color: azure;
  font-size: larger;
}

.cart .fa-bars
{
  display: none;
}
hr
{
  margin-top: 2px;
  grid-row: 2/2;
  color: red;
  grid-column: 1/6;
  height: 20px;
  font-weight: 1000;
} 
@media screen and (max-width: 998px)
 { 
  .cart .fa-cart-arrow-down
  {
    display: none;
  }
  .links
  {
    display: none;
  }
  .nav-bar
  {
    grid-template-columns: 3rem 2fr 1fr 1fr 3rem;
  }

  .cart .fa-bars
{
  height: 110px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  color: azure;
  font-size: larger;
}

.after-click
{
  width: 100%;
  grid-row: 2/3;
  z-index: +1;
  background-color: #1B1A17;
  list-style-type: none;
  height: 140px;
  display: block;
  justify-content: left;
  align-items: left;
  grid-column: 1/6;

}
.after-click a
{
text-decoration: none;
color: rgb(191, 156, 80); 
display: block;
}
.after-click ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.after-click li
{
  width: 100%;
  padding: 5px;
}
.after-click a:hover
{
  color: azure;
}

  
}
